name: Solana Anchor CI

on:
  push:
    branches: ["main", "day14-security-review-refactor-cicd"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install Solana
        run: |
          sh -c "$(curl -sSfL https://release.solana.com/stable/install)"
          echo "$HOME/.local/share/solana/install/active_release/bin" >> $GITHUB_PATH
          solana --version
          solana-keygen --version

      - name: Install Solana SBF tools
        run: |
          solana config set --url localhost
          solana-install init stable

      - name: Install Anchor
        run: |
          cargo install --git https://github.com/coral-xyz/anchor avm --locked
          avm install latest
          avm use latest

      - name: Build & Test Anchor program
        working-directory: day10_escrow_anchor
        run: |
          anchor build --skip-lint
          anchor test --skip-lint
